root = true

[*]
; utf-8  latin1 utf-8-bom utf-16be utf-16le
charset = utf-8
; lf, cr, or crlf
end_of_line = lf
tab or space
indent_style = space
-- n
indent_size = 4
; true, false
insert_final_newline = true
; 120
max_line_length = 120
; n
tab_width = 4
; true, false
trim_trailing_whitespace = true
